.mdl-layout__tab {
    width: 20%;
    pointer-events: none;
    padding: 0 !important;
}

.mdl-layout__tab-bar {
    margin: 0 !important;
    width: 100% !important;
    padding: 0 !important;
}

.modal-sheet .modal-dialog {
  width: 380px;
  transition: bottom .75s ease-in-out;
}
.modal-sheet .modal-footer {
  padding-bottom: 2rem;
}

.modal-alert .modal-dialog {
  width: 380px;
}

.modal-tour .modal-dialog {
  width: 380px;
}

.modal {
    height: 100vh !important;
}
