a {
    text-decoration: none !important;
    color: white !important;
}

a:hover {
    color: lightcoral !important;
}

.mdl-layout {
    height: 100vh;
}

.mdl-layout__tab {
    width: 20%;
    pointer-events: none;
    padding: 0 !important;
}

.mdl-layout__tab-bar {
    margin: 0 !important;
    width: 100% !important;
    padding: 0 !important;
}

.modal-sheet .modal-dialog {
  width: 380px;
  transition: bottom .75s ease-in-out;
}
.modal-sheet .modal-footer {
  padding-bottom: 2rem;
}

.modal-alert .modal-dialog {
  width: 380px;
}

.modal-tour .modal-dialog {
  width: 380px;
}

.modal {
    height: 100vh !important;
}

.mdl-layout__header-row {
    padding: 0 40px !important;
    display: flex;
    justify-content: space-between;
}

.mdl-layout__content {
    position: relative;
    overflow-y: hidden !important;
}

.todoSection {
    position: absolute;
    left: 0;
    height: 100%;
    width: calc(100% / 5);
}

.inProgressSection {
    position: absolute;
    left: 20%;
    height: 100%;
    width: calc(100% / 5);
}

.testingSection {
    position: absolute;
    left: 40%;
    height: 100%;
    width: calc(100% / 5);
}

.approvedSection {
    position: absolute;
    left: 60%;
    height: 100%;
    width: calc(100% / 5);
}

.deployedSection {
    position: absolute;
    left: 80%;
    height: 100%;
    width: calc(100% / 5);
}